* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.teachers,
.pms {
    display: flex;
    justify-content: center;
    width: 33%;
    padding: 50px;
    
}

.teachers ul,
.pms ul {
    list-style: none;
}

.teachers {
    background-color: lightgray;
}

.pms {
    background-color: lightgreen;
}